// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background-color: #fafafa;
}

.btn-clear {
    background-color: transparent !important;
    border-style: none !important;
    cursor: pointer;
}

.btn-clear:active,
.btn-clear:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-no-outline:active,
.btn-no-outline:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-outline-black {
    border-color: #393939;
    color: #393939;
    background-color: #fafafa;
}
