// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    background-color: #fafafa;
}

small {
    font-size: 12px;
}

.btn-clear {
    background-color: transparent !important;
    border-style: none !important;
    cursor: pointer;
}

.btn-clear:active,
.btn-clear:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.btn-no-outline:active,
.btn-no-outline:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-outline-black {
    border-color: #dbdbdb;
    color: #393939;
    background-color: #fafafa;
}

.btn-link-black {
    outline: none;
    border: none;
    color: #393939;
    background-color: #fafafa;
}
.btn-link-black:active,
.btn-link-black:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-12 {
    font-size: 12px;
}
